venv/             # excluye el entorno virtual
.env              # excluye las variables de entorno

__pycache__/      # Todas las carpetas de pycache
*.py[cod]         # Todos los archivos compilados de python

.pytest_cache     # Todas las carpetas de testing, si es que tenemos