<!doctype html>
<html>
    <body>
        <p>Estimado {{ user.email }},</p>
        <p>
            Para cambiar tu password
            <a href="{{ url_for('accounts.reset_password', token=token, _external=True) }}">
                da click aquí.
            </a>.
        </p>
        <p>Alternativamente, puedes copiar y pegar el siguiente enlace en la barra de navegación de tu visualizador de internet:</p>
        <p>{{ url_for('accounts.reset_password', token=token, _external=True) }}</p>
        <p>Si no has solicitado un cambio de password, ignora este mensaje.</p>
        <p>Atentamente,</p>
        <p>EQUIPO DE LA [CMPAyP] Comisión Mixta Paritaria de Admisión y Promoción</p>
    </body>
</html>
