{% extends "layout.html" %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uagro.css') }}">
{% endblock %}

{% block content %}
    <div id="flipbook" data-pdf-pages="{{ url_for('static', filename='contrato/') }}"></div>
{% endblock %}

{% block js %}
<!-- Incluye jQuery antes de Turn.js -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Librería Turn.js -->
    <script src="{{ url_for('static', filename='js/turn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flipbook.js') }}"></script>
{% endblock %}
  