{% extends 'layout.html' %}
<!-- CUSTOM CSS STYLESHEET -->
{% block customSCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uagro.css') }}">
{% endblock %}
{% block content %}
    <form class="form-forgot" method="POST" action="">
        <!-- {{ form.crsf_token }} -->
        {{ form.hidden_tag() }}
        <div class="container-main">
            <div class="row">
                <div class="input-box">
                    <img class="img-center" src="{{ url_for('static', filename='images/logos/cmixta_logo_color_text.svg') }}">
                    <header>Solicitud para cambio de contraseña</header>

                    <div class="form-floating">
                        <i class="fa-solid fa-envelope"></i>
                        {{ form.email(placeholder="email", class="form-control mb-2 shadow-none") }}
                        {{ form.email.label }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-field">
                        <input type="submit" class="submit" value="Enviar solicitud" name="">
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}