{% extends "layout.html" %}
{% block customSCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uagro.css') }}">
{% endblock %}
<!-- BODY CONTENT -->
{% block content %}
    <form class="form-register" method="post" action="">
        {{ form.csrf_token }}
        <div class="container-main">
            <div class="row">
                <div class="input-box">
                    <img class="img-center" src="{{ url_for('static', filename='images/logos/cmixta_logo_color_text.svg') }}">
                    <header>Registro de usuarios</header>

                    <div class="form-floating">
                        <i class="fa-solid fa-user"></i>
                        {{ form.nombre(placeholder="Nombre", class="form-control mb-2 shadow-none") }}
                        {{ form.nombre.label }}
                        {% if form.nombre.errors %}
                            {% for error in form.nombre.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-user"></i>
                        {{ form.apellidos(placeholder="Apellidos", class="form-control mb-2 shadow-none") }}
                        {{ form.apellidos.label }}
                        {% if form.apellidos.errors %}
                            {% for error in form.apellidos.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-venus-mars"></i>
                        {{ form.genero(class="form-select mb-2 shadow-none") }}
                        {{ form.genero.label }}
                        {% if form.genero.errors %}
                            {% for error in form.genero.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-calendar"></i>
                        {{ form.fecha_nacimiento(placeholder="Fecha de Nacimiento", class="form-control mb-2 shadow-none") }}
                        {{ form.fecha_nacimiento.label }}
                        {% if form.fecha_nacimiento.errors %}
                            {% for error in form.fecha_nacimiento.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-envelope"></i>
                        {{ form.email(placeholder="email", class="form-control mb-2 shadow-none") }}
                        {{ form.email.label }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-user-shield"></i>
                        {{ form.tipo_usuario(class="form-select mb-2 shadow-none") }}
                        {{ form.tipo_usuario.label }}
                        {% if form.tipo_usuario.errors %}
                            {% for error in form.tipo_usuario.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-phone"></i>
                        {{ form.telefono(placeholder="Teléfono", class="form-control mb-2 shadow-none") }}
                        {{ form.telefono.label }}
                        {% if form.telefono.errors %}
                            {% for error in form.telefono.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password(placeholder="password", class="form-control mb-2 shadow-none") }}
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-key"></i>
                        {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2 shadow-none") }}
                        {{ form.confirm.label }}
                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Registrar" name="">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br><br>
{% endblock %}
