{% extends 'layout.html' %}
<!-- CUSTOM CSS STYLESHEET -->
{% block customSCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uagro.css') }}">
{% endblock %}
{% block content %}
    <form class="form-reset" method="POST" action="">
        <!-- {{ form.crsf_token }} -->
        {{ form.hidden_tag() }}
        <div class="container-main">
            <div class="row">
                <div class="input-box">
                    <img class="img-center" src="{{ url_for('static', filename='images/logos/cmixta_logo_color_text.svg') }}">
                    <header>Cambio de contraseña</header>

                    <div class="form-floating">
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password(placeholder="password", class="form-control mb-2 shadow-none") }}
                        {{ form.password.label }}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        <i class="fa-solid fa-key"></i>
                        {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2 shadow-none") }}
                        {{ form.confirm.label }}
                        {% for error in form.confirm.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="input-field">
                        {{ form.submit() }}
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}